<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/profile.css">
</head>
<body>
    <div class="header">
        <h1 class="we">Welcome in my app</h1>
    </div>

    <div class="take"><Br>
        <h1 class="url">Url</h1>
        <input type="text" placeholder="url"><Br><Br>
        <button id="demo">Search</button><Br><br>
        <div  id="page">
            <p id="res">sdsdsdasdasdasd</p>
            
        </div>
    </div>

   <script src="../public/prof.js"></script>
</body>
</html>