*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}
body{
    background-color: rgb(6, 38, 51);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    background-color: white;
}
.we{
    padding: 20px;
    text-align: center;
}
.url{
    color: white;
    margin-bottom: 10px;
}
.take{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    height: 40px;
   width: 580px;
}
button{
    width: 120px;
    height: 40px;
}

#page{
    background-color: red;
    display: flex;
    border-radius: 20px;
    color: white;
    display: none;
 
}
#res{
    flex:1;
    padding: 10px;
}

.span{
    display: flex;
    font-size: 20px;
    
    font-weight: bold;
    cursor: pointer;
}